<%# Uses Font Awesome - converts 'i' elements to 'svg' elements by including JS files in head %>

<aside class="social-links">
  <a href="https://twitter.com/waylonrobert" title="My profile on Twitter">
    <i class="fab fa-twitter fa-2x"></i>
  </a>
  <a href="https://github.com/waylonrobert" title="My work on GitHub">
    <i class="fab fa-github fa-2x"></i>
  </a>
  <a href="http://www.linkedin.com/in/waylonrobert/" title="My profile on LinkedIn">
    <i class="fab fa-linkedin fa-2x"></i>
  </a>
</aside>
