<h1><%- page.title %></h1>
<%- page.content %>
<form name="contact" method="POST" netlify-honeypot="bot-field" data-netlify="true" action="/success.html">
  <p class="hidden">
    <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
  </p>
  <p>
    <label>Your Name: <input type="text" name="name" /></label>
  </p>
  <p>
    <label>Your Email: <input type="email" name="email" /></label>
  </p>
  <p>
    <label>Message: <textarea name="message" rows=5></textarea></label>
  </p>
  <p>
    <button type="submit">Send</button>
  </p>
</form>
